.small{
    font-size: x-small
}
.font{
    text-align: center;
}
.page{overflow-y: scroll;
overflow-x: hidden;
background-color:lightsteelblue
}
.logo{
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.hover :hover{
    background-color:lightcyan;
}

.blue{
    background-color: #008CBA;
    color: white
}

.alarm{
    background-color: lightgreen;
    width: 300px;
    border: 15px solid lightsalmon;
    padding: 40px;
    margin: 20px;
    position: absolute;
    z-index: 1;
}